<div ng-controller="EmployeeListController">
	<h1>Employee Directory</h1>
	
	<div class="row">
		<div class="col-xs-4">
			<h4>Employee Count: {{employeeCount}}</h4>
		</div>
		<div class="col-xs-4">
			<label for="search">Search Employee:</label>
			<input ng-model="q" id="search" class="form-control" placeholder="Filter employees">
		</div>
		<div class="col-xs-4">
			<label for="search">Employees per page:</label>
			<input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
		</div>
	</div>
	<br>

<div ng-controller="OtherController" class="pagenum-controller">
	<div class="text-center">
		<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
	</div>
</div>

	<div class="panel panel-default">
		<div class="panel-body">

			<table class="table table-striped">
				<thead>
				<div ng-show="{{delEmpSuccessMsg}}" class="alert alert-success">
					<a href="" class="close" data-dismiss="alert">&times;</a>
					<strong>Success!</strong> The employee was deleted successfully.
				</div>
					<a href="" class="btn btn-primary btn-xs pull-right" ng-click="addEmployee()"><b>+</b>Add new Employee</a>
				    <tr>
				        <th>ID</th>
				        <th>First Name</th>
				        <th>Last Name</th>
				        <th>Title</th>
				        <th>Location</th>
				        <th>Email</th>
				        <th>Number(s)</th>
				        <th class="text-center">Action</th>
				    </tr>
				</thead>
				<tr dir-paginate="employee in employees | filter:q | itemsPerPage: pageSize" current-page="currentPage" ng-controller="PaginateRowController">
				    <td>{{employee.employeeId}}</td>
				    <td>{{employee.firstName}}</td>
				    <td>{{employee.lastName}}</td>
				    <td>{{employee.title}}</td>
				    <td>{{employee.location}}</td>
				    <td>{{employee.email}}</td>
				    <td><span ng-if="employee.numbers.length === 1">{{employee['numbers'][0].phoneNumber}}</span><span ng-if="employee.numbers.length > 1">Multiple </span><span class="badge" ng-if="employee.numbers.length > 1">{{employee.numbers.length}}</span></td>
				    <td class="text-center"><a class='btn btn-info btn-xs' href="" ng-click="editEmployee(employee.employeeId)"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="" class="btn btn-danger btn-xs" ng-click="deleteEmployee(number, employee.employeeId, employee.firstName, employee.lastName)"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
				</tr>
			</table>

		</div>
	</div>
	
<div ng-controller="OtherController" class="pagenum-controller">
	<div class="text-center">
		<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
	</div>
</div>


</div>

